.articleMain {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px 3%;
  margin-block: 200px;
  color: var(--primary-color);

  /** article card */
  .articleCard {
    height: 300px;
    width: 29%;
    min-width: 300px;
    user-select: none;
    position: relative;

    .articleImg {
      width: 100%;
      height: 200px;
      background: linear-gradient(
          to left,
          var(--bg-color),
          transparent,
          var(--bg-color)
        ),
        center var(--bgImg);
      filter: grayscale(70%);
      background-size: 100%;
      transition: all 300ms;
      box-shadow: 0 -2px 8px var(--third-color);

      .date {
        font-size: 0.8rem;
        transform: translateY(10px);
        float: right;
        color: var(--secondary-color);
        margin-right: 20px;
      }
    }

    &:hover {
      .articleImg {
        filter: grayscale(0%) brightness(1.05);
        background-size: 110%;
      }
    }

    .articlePreInfo {
      width: 100%;
      min-width: 280px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-inline: auto;
      border-top: none;
      padding: 20px 10px 30px;
      border-radius: 0% 0% 70% 70% / 0% 0% 30% 30%;
      box-shadow: 0 0 8px var(--third-color);

      h2 {
        font-size: 1.4rem;
      }

      p {
        a {
          color: navy;
          cursor: pointer;
        }
      }
    }

    .articleDetail {
      width: 95%;
      min-width: 280px;
      display: flex;
      border: 1px solid #e8e7e7;
      margin-inline: auto;
      justify-content: space-between;
      border-radius: 0% 0% 70% 70% / 0% 0% 30% 30%;
      border-top: none;
      margin-top: -19px;
      padding: 12px 5px;
      color: var(--secondary-color);

      .icon {
        font-size: 0.7rem;
        margin-inline: 2px;
      }
    }
  }

  /** pagination */
  .pagination {
    user-select: none;
    width: 100%;
    cursor: pointer;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 60px;

    span {
      color: var(--primary-color);
      transition: all 300ms;

      &:hover {
        color: var(--secondary-color);
      }
    }
  }
}

/******************* single Article ******************/
.singleArticle {
  @extend .articleMain;
  flex-wrap: nowrap;
  color: var(--primary-color);

  .aSide {
    width: 20vw;
    min-width: 300px;
    height: 100vh;

    .userInfo {
      height: 100px;
      width: 100%;
      background-color: var(--third-color);
      display: flex;
      align-items: center;
      padding-inline: 20px;
      gap: 20px;

      .userImg {
        height: 50px;
        aspect-ratio: 1;
        border-radius: 50%;
        background: top / cover var(--userImg);
      }

      span {
        font-size: 1.2rem;
        text-transform: capitalize;
      }
    }

    .suggestArt {
      width: 100%;
      background: var(--third-color);
      margin-top: 40px;
      padding: 10px;
      padding-bottom: 30px;

      h2 {
        font-size: 1.4rem;

        .icon {
          font-size: 1.2rem;
          margin-right: 10px;
        }
      }

      > span {
        font-size: 0.8rem;
        color: var(--secondary-color);
        padding-left: 30px;
        padding-bottom: 50px;
      }

      .artPreview {
        background-color: var(--bg-color);
        margin-top: 20px;
        padding: 10px 5px;
        cursor: pointer;
        border-left: 3px solid var(--secondary-color);
        transition: all 300ms;

        &:hover {
          border-color: var(--primary-color);
        }

        p {
          color: var(--secondary-color);
          font-size: 0.8rem;
          margin-top: 15px;
          text-align: end;
        }
      }
    }
  }

  .mainSide {
    width: 70vw;
    min-width: 300px;
    min-height: 100vh;
    background: var(--quaternary-color);
    display: flex;
    flex-direction: column;
    padding: 50px;
    gap: 50px;
    align-items: center;

    .head {
      height: 450px;
      width: 90%;
      min-width: 280px;
      background: center / cover var(--article-img) no-repeat;
      box-shadow: inset 0 0 20px var(--bg-color);
      border: 5px solid var(--bg-color);
    }

    h2 {
      font-size: 2.5rem;
    }

    p {
      font-size: 1.3rem;
      line-height: 2rem;
      padding: 0 50px 50px;
    }

    .tags {
      width: 90%;
      margin-top: auto;
      display: flex;
      justify-content: flex-start;
      gap: 10px;
    }

    .info {
      width: 90%;
      display: flex;
      padding-block: 20px;
      border-top: 1px solid #fff;
      user-select: none;
      font-size: 1.1rem;

      span:first-child {
        margin-right: auto;
      }

      span:nth-child(2) {
        margin-right: 50px;
        .icon {
          cursor: auto;
          color: var(--secondary-color);

          &:hover {
            filter: brightness(1);
          }
        }
      }

      .icon {
        margin-left: 5px;
        font-size: 1rem;
        cursor: pointer;
        color: rgb(188, 27, 27);
        transition: all 200ms;

        &:hover {
          filter: brightness(1.5);
        }
      }
    }
  }
}

/***************** manage ArticleCard *******************/

.artCard {
  height: 100px;
  width: 80%;
  border: 1px solid var(--third-color);
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 10px;
  margin-top: 50px;

  .cardHeader {
    height: 100%;
    aspect-ratio: 1;
    background: center / contain var(--bgImg);
  }
}
