@import "_variable.scss";

:root {
  /**DarkMode */

  /**lightMode */
  --bg-color: #fff;
  --primary-color: #333;
  --secondary-color: #999999;
  --third-color: #cccccc;
  --quaternary-color: #eee;
  --head-bg: url("../assets/image/light.svg");
  --contact-bg: url("../assets/image/lightCon.svg");
}

body {
  overflow-x: hidden;
  background-color: var(--bg-color);
}

main {
  min-height: calc(100vh - 50px);
  width: 80%;
  margin-inline: auto;
}

/** global skill styles */
.skillCard {
  user-select: none;
  padding: 3px 10px;
  background-color: #aaa;
  border-radius: 5px;
  color: var(--bg-color);
  text-transform: capitalize;

  .icon {
    margin-right: 5px;
  }
}
